<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FranksZookeeper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0746BC541C3C572900975F87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0746BC681C3C572900975F87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0746BC731C3C572A00975F87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
